# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so

# Test binary, build with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
vendor/

.idea